/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@font-face {
  font-family: "Wanted Sans";
  font-weight: normal;
  src: url("./fonts/WantedSans-Regular.ttf") format("truetype");
}
body {
  font-family: "Wanted Sans";
}

@font-face {
  font-family: "Pretendard";
  font-weight: normal;
  src: url("./fonts/PretendardVariable.ttf") format("truetype");
}
body {
  font-family: "Pretedard";
}
 */
